tsoa-track/drop-latest-iepd/source/base-xsd/extension/TSOA_Track.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:tsoa="https://tsoa.example.mil/tsoa/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/"
	xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" 
	xmlns:icism="urn:us:gov:ic:ism"
	xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/"
	xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
	xmlns:structures="http://release.niem.gov/niem/structures/3.0/"
	xmlns:mo="http://release.niem.gov/niem/domains/militaryOperations/3.2/"
	xmlns:glib="urn:disa:udop.tracks:1.0:genLib"
	xmlns:lib="urn:disa:udop.tracks:1.0:lib"
	targetNamespace="https://tsoa.example.mil/tsoa/" 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="1"
	ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument">

	<xs:annotation>
		<xs:documentation>TSOA Track Version 1.0 DISTRIBUTION STATEMENT C. Distribution is
			authorized to U.S. Government agencies and their contractors (Critical Technology,
			Export Controlled, Software Documentation). Other requests for this document shall be
			referred to Joint Staff J6, Architecture Integration Division at
			js.dsc.j6.mbx.wma-afip-portal-help-desk@mail.mil.</xs:documentation>
		<xs:appinfo>
			<term:LocalTerm term="SABC" literal="ABC"/>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://release.niem.gov/niem/niem-core/3.0/"
		schemaLocation="../niem/niem-core/3.0/niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"
		schemaLocation="../niem/proxy/xsd/3.0/xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/3.0/"
		schemaLocation="../niem/structures/3.0/structures.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/3.2/"
		schemaLocation="../niem/domains/militaryOperations/3.2/mo.xsd"/>
	<xs:import namespace="urn:disa:udop.tracks:1.0:genLib" schemaLocation="GeneralLibrary.xsd"/>
	<xs:import namespace="urn:disa:udop.tracks:1.0:lib" schemaLocation="Library.xsd"/>
	<xs:import namespace="urn:us:gov:ic:ism" schemaLocation="../ic-ism/CVE/Schema/ISM/IC-ISM.xsd"/>
	<!-- EXTERNAL -->


	<!-- COMPLEX TYPES -->


	<xs:complexType name="TrackAugmentationType">
		<xs:annotation>
			<xs:documentation>A data type for additional information about a Track.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:AugmentationType">
				<xs:sequence>
					<xs:element ref="glib:EnvironmentCategoryCode" minOccurs="0"/>
					<xs:element ref="tsoa:Threat" minOccurs="0"/>
					<xs:element ref="tsoa:TacticalTrainingCode" minOccurs="0"/>
					<xs:element ref="tsoa:TrackScope" minOccurs="0"/>
					<xs:element ref="tsoa:TrackType" minOccurs="0"/>
					<xs:element ref="tsoa:ForceCode" minOccurs="0"/>
					<xs:element ref="lib:MotionModelCode" minOccurs="0"/>
					<xs:element ref="nc:BinaryURI" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="tsoa:AmbiguityReasonText" minOccurs="0"/>
					<xs:element ref="lib:DataAmplification" minOccurs="0"/>
					<xs:element ref="tsoa:Identifiers" minOccurs="0"/>
					<xs:element ref="mo:MILSTD2525-C-SIDC-Code" minOccurs="1"/>
					<xs:element ref="tsoa:RemarksList" minOccurs="0"/>
					<xs:element ref="tsoa:Targeting" minOccurs="0"/>
					<xs:element ref="tsoa:CrossReference" minOccurs="0"/>
					<xs:element ref="tsoa:CurrentEventGUID" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C2TrackDetailsType" abstract="true">
		<xs:annotation>
			<xs:documentation>A data type for a ....</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="mo:TrackType">
				<xs:sequence>
					<xs:element ref="lib:AlertCode" minOccurs="0"/>
					<xs:element ref="tsoa:Flag" minOccurs="0"/>
					<xs:element ref="lib:Relationship" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentifiersType">
		<xs:annotation>
			<xs:documentation>A data type .</xs:documentation>
		</xs:annotation>
			<xs:complexContent>
				<xs:extension base="structures:ObjectType">
					<xs:sequence>
						<xs:element ref="tsoa:GUID" minOccurs="0"/>
						<xs:element ref="lib:UID" minOccurs="0"/>
						<xs:element ref="tsoa:LocalTrackNumber" minOccurs="0"/>
						<xs:element ref="lib:NetworkIdentifier" minOccurs="0" maxOccurs="unbounded"/>
						<!--<xs:group ref="tsoa:GeneralIdentifier" minOccurs="0"/>-->
						<xs:element ref="tsoa:InternationalRadioCallSign" minOccurs="0"/>
						<xs:element ref="tsoa:Trademark" minOccurs="0"/>
						<xs:element ref="tsoa:DiscreteIdentifier" minOccurs="0"/>
						<xs:element ref="lib:UnitIdentificationCode" minOccurs="0"/>
						<xs:element ref="lib:UniqueReferenceCode" minOccurs="0"/>
						<xs:element ref="lib:MIDBUnitID" minOccurs="0"/>
						<xs:element ref="lib:IFF" minOccurs="0"/>
						<xs:element ref="lib:EntityClassName" minOccurs="0"/>
						<xs:element ref="lib:EntityNumberID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Pennant number or Aircraft Tail number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="tsoa:EntityType" minOccurs="0"/>
						<xs:element ref="tsoa:ShipControlNumber" minOccurs="0"/>
						<xs:element ref="tsoa:FOTCTrackNumber" minOccurs="0"/>
						<xs:element ref="tsoa:ReceivedTrackNumbers" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="tsoa:NickName" minOccurs="0"/>
						<xs:element ref="tsoa:SystemTrackNumber" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
	</xs:complexType>

<!-- TODO
	<xs:group name="GeneralIdentifier">
		<xs:sequence>
			<xs:element ref="lib:Originator"/>
			<xs:element ref="lib:OriginatorKey"/>
		</xs:sequence>
	</xs:group> -->
	
	<xs:complexType name="AmbiguityType">
		<xs:annotation>
			<xs:documentation>A data type for.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="niem-xs:string">
				<xs:attribute ref="tsoa:isAmbiguityIndicator"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TargetingType">
		<xs:annotation>
			<xs:documentation>A data type .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="tsoa:AttackMissionInProgress" minOccurs="0"/>
					<xs:element ref="tsoa:AttackMissionTasked" minOccurs="0"/>
					<xs:element ref="tsoa:BDAPhase1ReportAvailable" minOccurs="0"/>
					<xs:element ref="tsoa:BDAPhase2ReportAvailable" minOccurs="0"/>
					<xs:element ref="tsoa:DMPIAssigned" minOccurs="0"/>
					<xs:element ref="tsoa:Engaged" minOccurs="0"/>
					<xs:element ref="tsoa:NominationRequested" minOccurs="0"/>
					<xs:element ref="tsoa:NominationRequestRejected" minOccurs="0"/>
					<xs:element ref="tsoa:OnATO" minOccurs="0"/>
					<xs:element ref="tsoa:TimeCritical" minOccurs="0"/>
					<xs:element ref="tsoa:Validated" minOccurs="0"/>
					<xs:element ref="tsoa:WeaponAssigned" minOccurs="0"/>
					<xs:element ref="tsoa:Weaponeered" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>



	<xs:element name="TrackAugmentation" type="tsoa:TrackAugmentationType"
		substitutionGroup="mo:TrackAugmentationPoint" nillable="true">
		<xs:annotation>
			<xs:documentation>Additional information about an nc:Aircraft.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Threat" type="mo:StandardIdentityCodeType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TacticalTrainingCode" type="lib:EntityTacticalTrainingCodeType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackScope" type="lib:EntityScopeCodeType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackType" type="lib:EntityTrackDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ForceCode" type="glib:Short0to99Type">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AmbiguityReasonText" type="tsoa:AmbiguityType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Identifiers" type="tsoa:IdentifiersType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RemarksList" type="lib:GeneralRemarksDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Targeting" type="tsoa:TargetingType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CrossReference" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CurrentEventGUID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Flag" type="lib:EntityFlagCategoryType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="AttackMissionInProgress" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AttackMissionTasked" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BDAPhase1ReportAvailable" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BDAPhase2ReportAvailable" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DMPIAssigned" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Engaged" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NominationRequested" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NominationRequestRejected" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OnATO" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TimeCritical" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Validated" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WeaponAssigned" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Weaponeered" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GUID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocalTrackNumber" type="lib:EntityOverTheHorizonTrackNumberDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EntityType" type="lib:EntityCategoryType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ShipControlNumber" type="lib:ShipControlNumberIdentifierType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FOTCTrackNumber" type="lib:EntityOverTheHorizonTrackNumberDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReceivedTrackNumbers" type="lib:EntityOverTheHorizonTrackNumberDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NickName" type="lib:EntityNickNameType">
		<xs:annotation>
			<xs:documentation>A name for  ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SystemTrackNumber" type="lib:SystemTrackNumberType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InternationalRadioCallSign"
		type="lib:InternationalRadioCallSignIdentifierType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Trademark" type="lib:TrademarkIdentifierType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DiscreteIdentifier" type="glib:Octal4DigitType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:attribute name="isAmbiguityIndicator" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>An attribute ...</xs:documentation>
		</xs:annotation>
	</xs:attribute>
</xs:schema>
