tsoa-track/src/main/resources/iep-schema/extension/Library.xsd

<xs:schema xmlns:lib="urn:disa:udop.tracks:1.0:lib" xmlns:glib="urn:disa:udop.tracks:1.0:genLib"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tsoa="https://tsoa.example.mil/appinfo"
	xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/"
	xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/"
	xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
	xmlns:structures="http://release.niem.gov/niem/structures/3.0/"
	targetNamespace="urn:disa:udop.tracks:1.0:lib" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="1"
	ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument">

	<xs:annotation>
		<xs:documentation>TSOA Track Version 1.0 DISTRIBUTION STATEMENT C. Distribution is
			authorized to U.S. Government agencies and their contractors (Critical Technology,
			Export Controlled, Software Documentation). Other requests for this document shall be
			referred to Joint Staff J6, Architecture Integration Division at
			js.dsc.j6.mbx.wma-afip-portal-help-desk@mail.mil.</xs:documentation>
	</xs:annotation>


	<xs:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"
		schemaLocation="../niem/proxy/xsd/3.0/xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/3.0/"
		schemaLocation="../niem/structures/3.0/structures.xsd"/>
	<xs:import namespace="urn:disa:udop.tracks:1.0:genLib" schemaLocation="GeneralLibrary.xsd"/>


	<xs:complexType name="TrademarkIdentifierType">
		<xs:annotation>
			<xs:documentation>A data type for the Trademark of the track being reported. Refer to
				NWP 1-03.41 (Classified Supplement) for a description of trademarks.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:TrademarkIdentifierSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="TrademarkIdentifierSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the Trademark of the track being reported. Refer to
				NWP 1-03.41 (Classified Supplement) for a description of trademarks. </xs:documentation>
			<xs:appinfo>
				<tsoa:comment>String Pattern: OS-OTG supports 1-20ANBS, USMTF has 1-30AN, COE
					supports up to 20 chars. Currently supporting 1-20ANBS.</tsoa:comment>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OriginatorType">
		<xs:annotation>
			<xs:documentation>A data type for ....</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:OriginatorSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="OriginatorSimpleType">
		<xs:annotation>
			<xs:documentation>A data type for a ....</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InternationalRadioCallSignIdentifierType">
		<xs:annotation>
			<xs:documentation>A data type for the International Radio Call Sign (IRCS) of the track
				being reported. The IRCS is a communications identifier usually unique to a command
				or unit. </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:InternationalRadioCallSignIdentifierSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="InternationalRadioCallSignIdentifierSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the International Radio Call Sign (IRCS) of the track
				being reported. The IRCS is a communications identifier usually unique to a command
				or unit. </xs:documentation>
			<xs:appinfo>
				<tsoa:comment>String Pattern: OS-OTG supports 4-8AN; COE support up to 8 chars.
					Currently supporting 4-8AN.</tsoa:comment>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[A-Z0-9]{4,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntityClassNameType">
		<xs:annotation>
			<xs:documentation>A data type for the class of ship being reported.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityClassNameSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityClassNameSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the class of ship being reported. </xs:documentation>
			<xs:appinfo>
				<tsoa:USMTFref> ship.name.518.3 used in Locator NAV set is just a string with 1-30
					characters - no entry list Note : Locator SUB uses submarine.class.name.518.4
					which is an enumerated list. - Interesting.....</tsoa:USMTFref>
				<tsoa:comment>String Length: OS-OTG references the STAR and allows length 1-11, COE
					only supports 1-11, USMTF supports 1-30. Currently supporting length of
					1-11.</tsoa:comment>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntityCategoryType">
		<xs:annotation>
			<xs:documentation>A data type for the Ship Type code of the track being reported, e.g.,
				CVN, DDG,SSBN. Enter the appropriate code from USMTF Entry List 137 (Ship Types).
				See USMTF reference below. </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityCategorySimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityCategorySimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the Ship Type code of the track being reported, e.g.,
				CVN, DDG,SSBN. Enter the appropriate code from USMTF Entry List 137 (Ship Types).
				See USMTF reference below. </xs:documentation>
			<xs:appinfo>
				<tsoa:USMTFref> urn:mtf:mil:usmtf:2003:elemental ship.type.category.137.6
				</tsoa:USMTFref>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[A-Z0-9]{2,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntityNumberIdentifierType">
		<xs:annotation>
			<xs:documentation>A data type for the pennant (hull) number of the track being reported.
				Enter the etters and numbers as they appear on the side of the ship's hull or refer
				to the STAR.) </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityNumberIdentifierSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityNumberIdentifierSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the pennant (hull) number of the track being
				reported. Enter the etters and numbers as they appear on the side of the ship's hull
				or refer to the STAR.) </xs:documentation>
			<xs:appinfo>
				<tsoa:USMTFref> urn:mtf:mil:usmtf:2003:elemental pennant.number.487.60 </tsoa:USMTFref>
				<tsoa:comment>StringPattern: OS-OTG supports 1-6AN, COE support up to 6 chars, USMTF
					pennant.number.487.60 supports 1-8AN. Currently supporting 1-6AN.</tsoa:comment>
				<tsoa:comment>USMTF Locator SUB set did not inclde this field. Do submarines have
					pennant numbers?</tsoa:comment>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[A-Z0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>

	<!--
	<xs:complexType name="ReceivedDynamicIdentifiers">
		<xs:sequence>
			<xs:element name="ReceivedTrackNumber" type="EntityOverTheHorizonTrackNumberDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType> -->

	<xs:complexType name="EntityUniqueIdentifierDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for a unique Identifier (UID) is assigned for each entity
				in DoD Operations. This UID is of the form XXXNNNNNNNNN, where XXX is an
				alphanumeric sequence called the UID prefix and NNNNNNNNN is a nine digit number.
				The UID prefix is unique to the system (possibly a LAN of UB workstations) at which
				the UID was assigned, while the numeric portion is a one-up counter (properly
				initialized at system installation, and using leading zeros). </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityUniqueIdentifierDetailsSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityUniqueIdentifierDetailsSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for a unique Identifier (UID) is assigned for each entity
				in DoD Operations. This UID is of the form XXXNNNNNNNNN, where XXX is an
				alphanumeric sequence called the UID prefix and NNNNNNNNN is a nine digit number.
				The UID prefix is unique to the system (possibly a LAN of UB workstations) at which
				the UID was assigned, while the numeric portion is a one-up counter (properly
				initialized at system installation, and using leading zeros). </xs:documentation>
			<xs:appinfo>
				<tsoa:comment>UID in use is only 12 characters although TMS holds it as a 19
					character field. Currently supporting 19 characters.</tsoa:comment>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="19"/>
			<xs:pattern value="[A-Z0-9]{3}[0-9]{9,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntityUniqueIdentificationCodeDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for a unique Identification Code (UIC) is a unique
				identification of a unit level organization. </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityUniqueIdentificationCodeDetailsSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityUniqueIdentificationCodeDetailsSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for a unique Identification Code (UIC) is a unique
				identification of a unit level organization. </xs:documentation>
			<xs:appinfo>
				<tsoa:USMTFref> FFIRN/FUDN 517/1 </tsoa:USMTFref>
				<tsoa:comment>By definition is unique for a unit but can be found repeated within
					the real world.</tsoa:comment>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[A-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntityUniqueReferenceCodeDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for a unique Unit Reference Number (URN).
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityUniqueReferenceCodeDetailsSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityUniqueReferenceCodeDetailsSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for a unique Unit Reference Number (URN).
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:complexType name="EntitySystemTrackNumberDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for ....</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntitySystemTrackNumberDetailsSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntitySystemTrackNumberDetailsSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for a track identifier used by C4I systems. The unique
				index is formed by concatenating the name of the reporting Command with the 5-6AN
				track number/identifier assigned to the reported track in the command's C4I System
				track database. For example, let's suppose merchant ship "A" is reported with OTH
				Track number EISENHOWER T4033. This indicates that merchant ship "A" is assigned and
				referenced by the local OTH track number of T4033 in the EISENHOWER's C4I track
				database. </xs:documentation>
			<xs:appinfo>
				<tsoa:USMTFref>FFIRN/FUDN 517/1 </tsoa:USMTFref>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[A-Z0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntityOverTheHorizonTrackNumberDetailsType">
		<xs:annotation>
			<xs:documentation> A data type for a track identifier used by C4I systems. The unique
				index is formed by concatenating the name of the reporting Command with the 5-6AN
				track number/identifier assigned to the reported track in the command's C4I System
				track database. For example, let's suppose merchant ship "A" is reported with OTH
				Track number EISENHOWER T4033. This indicates that merchant ship "A" is assigned and
				referenced by the local OTH track number of T4033 in the EISENHOWER's C4I track
				database. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:CommandName"/>
					<xs:element ref="lib:TrackNumberID"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OTHTrackNumberCommandNameType">
		<xs:annotation>
			<xs:documentation>A data type for a name of the Command providing the associated Track
				Number assigned to the reported track. The associated track number provides a unique
				index for the reported track in the C4I system belonging to the Command.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:OTHTrackNumberCommandNameSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="OTHTrackNumberCommandNameSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for a name of the Command providing the associated Track
				Number assigned to the reported track. The associated track number provides a unique
				index for the reported track in the C4I system belonging to the Command.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OTHTrackNumberTrackNumberIdentifierType">
		<xs:annotation>
			<xs:documentation>A data type for the track number that provides a unique index for the
				reported track in the C4I system belonging to the Command identified by the
				associated command name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:OTHTrackNumberTrackNumberIdentifierSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="OTHTrackNumberTrackNumberIdentifierSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the track number that provides a unique index for the
				reported track in the C4I system belonging to the Command identified by the
				associated command name. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[A-Z0-9]{5,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NetworkIdentifierDetailsType">
		<xs:annotation>
			<xs:documentation> A data type for the Network Type, Network Name, and Network ID are
				used to identify a unique reference in a specific network of users. For example,
				Network Type might be Link 11, Network Name might be something to denote it is the
				Link 11 net in the Meditteranean Sea, and then STN for Network ID
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:NetworkCategoryID"/>
					<xs:element ref="lib:NetworkName" minOccurs="0"/>
					<xs:element ref="lib:NetworkID"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentifierType">
		<xs:annotation>
			<xs:documentation>A data type for ....</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:NetworkCategoryVerifiedIdentifierCode"/>
					<xs:element ref="lib:NetworkCategoryIdentifierID"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NetworkCategoryIdentifierType">
		<xs:annotation>
			<xs:documentation>A data type for the Type of network on which the "NetworkIdentifier"
				is a unique index for the reported track (e.g. TADIL, TIBS).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:NetworkCategoryIdentifierSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="NetworkCategoryIdentifierSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the Type of network on which the "NetworkIdentifier"
				is a unique index for the reported track (e.g. TADIL, TIBS). </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:pattern value="[A-Z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NetworkCategoryVerifiedIdentifierCodeType">
		<xs:annotation>
			<xs:documentation>A data type for the Type of network on which the "NetworkIdentifier"
				is a unique index for the reported track (e.g. TADIL, TIBS).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:NetworkCategoryVerifiedIdentifierCodeSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="NetworkCategoryVerifiedIdentifierCodeSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the Type of network on which the "NetworkIdentifier"
				is a unique index for the reported track (e.g. TADIL, TIBS). </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="ACDS">
				<xs:annotation>
					<xs:documentation>A....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CEC">
				<xs:annotation>
					<xs:documentation>A....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CSEL">
				<xs:annotation>
					<xs:documentation>A....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CSI">
				<xs:annotation>
					<xs:documentation>A....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LatteralTell">
				<xs:annotation>
					<xs:documentation>A....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Link11">
				<xs:annotation>
					<xs:documentation>A....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Link14">
				<xs:annotation>
					<xs:documentation>A....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Link16">
				<xs:annotation>
					<xs:documentation>A....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FCS">
				<xs:annotation>
					<xs:documentation>A....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Spa25">
				<xs:annotation>
					<xs:documentation>A....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NetworkNameType">
		<xs:annotation>
			<xs:documentation>A data type for the Name of the specific Network of type "NetworkType"
				on which the "NetworkIdentifier" is a unique index for the reported tracks The
				"NetworkName" element supports distinction between various networks of the same
				NetworkType. For example, a NetworkIdentifier from a Tadil net in the Meditteranean
				should not be apllied to or incorrectly asssociated with a Tadil net in the
				Carribbean.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:NetworkNameSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="NetworkNameSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the Name of the specific Network of type
				"NetworkType" on which the "NetworkIdentifier" is a unique index for the reported
				tracks The "NetworkName" element supports distinction between various networks of
				the same NetworkType. For example, a NetworkIdentifier from a Tadil net in the
				Meditteranean should not be apllied to or incorrectly asssociated with a Tadil net
				in the Carribbean. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:pattern value="[A-Z0-9]{1,50}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NetworkIdentifierType">
		<xs:annotation>
			<xs:documentation>A data type for the uinique identifer assign to and used to reference
				the reported track on the network of type "NetworkType" which is distinquished from
				other networks of type "NetworkType" by its "NetworkName". </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:NetworkIdentifierSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="NetworkIdentifierSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the uinique identifer assign to and used to reference
				the reported track on the network of type "NetworkType" which is distinquished from
				other networks of type "NetworkType" by its "NetworkName". </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:pattern value="[A-Z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>

	<!--
	<xs:simpleType name="EntityForceCodeIdentifier">
		<xs:annotation>
			<xs:documentation>
				<definition> The foce code is an index into a table that provide default category and threat definition for the given track.</definition>
				<USMTFref> force.threat.designator.2442.1 </USMTFref>
				<comment>USMTF uses force code or force_threat_designator and OS-OTG uses Force Code - Both of these coding schemes make use of codes 
that include two parts - the cateogry (e.g. AIR,SUB, SUR) combined with the threat (e.g. FRD, HOS).</comment>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType> -->

	<xs:complexType name="EntityTacticalTrainingCodeType">
		<xs:annotation>
			<xs:documentation>A data type for th Tactical-Training Codes.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityTacticalTrainingCodeSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityTacticalTrainingCodeSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the Tactical-Training Codes. </xs:documentation>
			<xs:appinfo>
				<tsoa:USMTFref> simulated.track.623.6 - does not cover live training - see notes
					above </tsoa:USMTFref>
				<tsoa:DoDXMLref> TBD </tsoa:DoDXMLref>
				<tsoa:comment>USMTF uses a simulated_track indicator - basically a toggle to tell
					whether simulated or not. OS-OTG used a Track Type Code similar to the one
					below. The main difference between OS-OTG and what is below is the 1=Tactical
					below vice the use of not reporting the field to indicate Tactical in
					OS-OTG</tsoa:comment>
				<tsoa:comment>The "Transposed" option is for transposed live training tracks like
					those used in Kernel Blitz exercize in the '90's. There were mine sweepers
					operating in the gulf off of Texas (I think) that participated in an exercise
					off Southern California shores. The mine sweepers actually manuevered in the
					gulf, but their positions were transposed over into the Southern California
					operations area.</tsoa:comment>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:maxLength value="18"/>
			<xs:enumeration value="Tactical">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Live Training">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Simulated Training">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Transposed">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntityScopeCodeType">
		<xs:annotation>
			<xs:documentation>A data type for a ....</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityScopeCodeSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityScopeCodeSimpleType">
		<xs:annotation>
			<xs:documentation>A data type for a ....</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Over the Horizon">
				<xs:annotation>
					<xs:documentation>Over the Horizon</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Local">
				<xs:annotation>
					<xs:documentation>Local</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Terminal">
				<xs:annotation>
					<xs:documentation>Terminal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntityFlagCategoryType">
		<xs:annotation>
			<xs:documentation>A data type for the Flag/Nationality code of the entity being
				reported. Enter the appropriate code from USMTF Entry List 59 (Country Codes). See
				USMTF reference below. </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityFlagCategorySimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityFlagCategorySimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the Flag/Nationality code of the entity being
				reported. Enter the appropriate code from USMTF Entry List 59 (Country Codes). See
				USMTF reference below. </xs:documentation>
			<xs:appinfo>
				<tsoa:USMTFref> urn:mtf:mil:usmtf:2003:elemental nationality.59.3</tsoa:USMTFref>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RelationshipDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for ....</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:Relationship"/>
					<xs:choice>
						<xs:element ref="lib:UID" maxOccurs="unbounded"/>
						<xs:element ref="lib:UniqueIdentificationText" maxOccurs="unbounded"/>
						<xs:element ref="lib:UniqueReferenceText" maxOccurs="unbounded"/>
						<xs:element ref="lib:OTHTrackNumber" maxOccurs="unbounded"/>
						<xs:element ref="lib:NetworkIdentifier" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EntityRelationshipType">
		<xs:annotation>
			<xs:documentation>A data type for ...</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:EntityRelationshipVerifiedCode"/>
					<xs:element ref="lib:EntityRelationshipFreeFormText"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EntityRelationshipVerifiedCodeType">
		<xs:annotation>
			<xs:documentation>A data type for a code used to express the type of relationship the
				reported track shares with another DoD entity, organization, plan, etc.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityRelationshipVerifiedCodeSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityRelationshipVerifiedCodeSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for a code used to express the type of relationship the
				reported track shares with another DoD entity, organization, plan, etc.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Subcomponent of">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Contains subcomponent(s)">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Embarked on">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Contains embarked">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Subcomponent of plan(s)">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Engaged by">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Engaging">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Member of">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Reporting Unit">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Controlling Unit">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Time Critical Target for plan">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fire">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Investigate">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Track">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Associate">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Correlate">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntityRelationshipFreeFormTextType">
		<xs:annotation>
			<xs:documentation>A data type for the free-form text used to express the type of
				relationship the reported track shares with another DoD entity, organization, plan,
				etc. Free-form alternative is allowed to support new relationships that might arise
				operationally prior to schema modification. </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityRelationshipFreeFormTextSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityRelationshipFreeFormTextSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the free-form text used to express the type of
				relationship the reported track shares with another DoD entity, organization, plan,
				etc. Free-form alternative is allowed to support new relationships that might arise
				operationally prior to schema modification. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntityNickNameType">
		<xs:annotation>
			<xs:documentation>A data type for the nickname of the entity being
				reported.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityNickNameSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityNickNameSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the nickname of the entity being reported.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- TODO
	<xs:simpleType name="EmitterElintNotationIdentifier">
		<xs:annotation>
			<xs:documentation>
				<definition> Enter the ELINT notation designation of the emitter being reported from the NSA ELINT Parameter Limits (EPL) List, e.g., A123B.  </definition>
				<USMTFref> elint.notation.487.93</USMTFref>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
			<xs:pattern value="[A-Z0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmitterPrimaryElintNotationConfidenceValue">
		<xs:annotation>
			<xs:documentation>
				<USMTFref> elint.notation.confidence.primary.2169.4 </USMTFref>
				<comment> TMS holds this data element as char with comment [NN less than 10] - which makes is inconsistet.</comment>
				<comment>USMTF reference  elint.notation.confidence.primary.2169.4 indicates values 1-10 inclusive - yet TMS is only char with comment less than 10</comment>
				<comment>USMTF holds seperate field for secondary elint noation - elint.notation.confidence.secondary.2169.5  indicating values 1-5 iinclusive </comment>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmitterSecondaryElintNotationConfidenceValue">
		<xs:annotation>
			<xs:documentation>
				<definition> Help!  Need a definition. </definition>
				<USMTFref> elint.notation.confidence.secondary.2169.5 </USMTFref>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmitterName">
		<xs:annotation>
			<xs:documentation>
				<definition> The emitter name of the emitter being reported.  Use the code name contained in the NSA ELINT Parameter Limits (EPL) List, e.g., FAN SONG.   </definition>
				<USMTFref> emitter.designation.109.1</USMTFref>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[A-Z0-9\.,\(\)\?\-]{1,15}"/>
		</xs:restriction>
	</xs:simpleType> -->

	<xs:complexType name="GeneralRemarksDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for ....</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:RemarkText" maxOccurs="4"/>
				</xs:sequence>
				<xs:attribute ref="lib:commandText" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AlertCodeType">
		<xs:annotation>
			<xs:documentation>A data type for the Alert code of the reported
				track.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:AlertCodeSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AlertCodeSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the Alert code of the reported track.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:length value="3"/>
			<xs:enumeration value="TGT">
				<xs:annotation>
					<xs:documentation>Target data available</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUS">
				<xs:annotation>
					<xs:documentation>Suspected carrier</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HIT">
				<xs:annotation>
					<xs:documentation>High Interest track</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NSP">
				<xs:annotation>
					<xs:documentation>Nonsuspected carrier</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LinkMode4IffIdentifierCodeType">
		<xs:annotation>
			<xs:documentation>A data type a single integer value of 0-3</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:LinkMode4IffIdentifierCodeSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LinkMode4IffIdentifierCodeSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for a Mode4Iff is a single integer value of 0-3.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>Not Interrogated</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>No Response</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Invalid Response</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Valid Response</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!-- TODO
	<xs:complexType name="BasicEncyclopediaDetails">
		<xs:choice>
			<xs:element name="BE" type="BasicEncyclopediaType"/>
			<xs:element name="BESuffix" type="BasicEncyclopediaSuffixType"/>
			<xs:element name="FIBE" type="FieldInitiatedBasicEncyclopediaType"/>
		</xs:choice>
	</xs:complexType> 
	<xs:simpleType name="BasicEncyclopediaType">
		<xs:annotation>
			<xs:documentation>
				<definition>OS-OTH: The Target Identifier and the Basic Encyclopedia (BE) number of the target.  Enter the World Area Number (0001-2144), followed by the Record Originator "E" or "." followed by (0-9), folllowed by the Installation Identification Serial Number (0001-9999), e.g., 0123E11234, 2045-12345.  For Record Originator see DIA Document DDB-2600-312-89. (10ANS).</definition>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="[0-9]{4}(E|\-)[0-9][0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BasicEncyclopediaSuffixType">
		<xs:annotation>
			<xs:documentation>
				<definition>OS-OTH: The Target Identifier and the Basic Encyclopedia (BE) suffix of the target.  Enter BE Number Suffix Identifier "S", followed by the World Area Number (0001-2144), followed by the Record Originator "E" or "-" followed by (0-9), followed by the Installation Identification Serial Number (0001-9999),  followed by the BE Suffix (00-99), e.g., S0123E1123499, S1935-1234500.  For Record Originator see DIA Document DDB-2600-312-89. (13 ANS).</definition>
				<comment>Added suffix format of [A-Z]{2}[0-9]{3} inorder to allow representation of suffix stored in tms.</comment>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
      <xs:minLength value="13"/>
      <xs:maxLength value="16"/>
			<xs:pattern value="S[0-9]{4}(E|\-)[0-9][0-9]{4}(([0-9]{2})|([A-Z]{2}[0-9]{3}))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FieldInitiatedBasicEncyclopediaType">
		<xs:annotation>
			<xs:documentation>
				<defintion>OS-OTH: The identifier and number assigned to a target, indicating the target identifications system and the Field Initiated Basic Encyclopedia (FIBE) number of that target.  Ener the World Area Number (0001-2144)., followed by the Record Originator (2A), followed by the Installation Identification Serial Number (0001-9999), e.g., 0123AB1234.  For Record Originator see DIA Document DDB-2600-312-89. (10 AN)</defintion>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="[0-9]{4}[A-Z]{2}[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType> -->


	<!--TODO - Review structure of MilOps mo:UnitCommandOrSupportRelationshipAssociationForceManagementID - this is the GFM-DI way of doing force structure -->
	<xs:complexType name="ForceStructureDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for a ....</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:EchelonText" minOccurs="0"/>
					<xs:element ref="lib:ServiceText" minOccurs="0"/>
					<xs:element ref="lib:AdminOrgParentID" minOccurs="0"/>
					<xs:element ref="lib:TaskOrgAffiliation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="TaskOrgAffiliationDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for a ....</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:TaskOrgName" minOccurs="0"/>
					<xs:element ref="lib:TaskOrgNumberText" minOccurs="0"/>
					<xs:element ref="lib:TaskOrgParentID" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DataAmplificationDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for a ....</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:RawData" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RawDataDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for ....</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:DataCategoryText" minOccurs="0"/>
					<xs:element ref="lib:DataText" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EntityTrackDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for ....</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:EntityTrackDetailsSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EntityTrackDetailsSimpleType">
		<xs:annotation>
			<xs:documentation>A data type ....</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:complexType name="MotionModelCodeType">
		<xs:annotation>
			<xs:documentation>A data type for ....</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:MotionModelCodeSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="MotionModelCodeSimpleType">
		<xs:annotation>
			<xs:documentation>A data type for a ....</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Barrier">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Patrol">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Transit">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Dead In Water">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Unknown">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Land Site">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Air Contact">
				<xs:annotation>
					<xs:documentation>A ....</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!-- TODO
	<xs:simpleType name="HierarchyLevelType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="None"/>
			<xs:enumeration value="TopLevelNoAssoc"/>
			<xs:enumeration value="TopLevelWithAssoc"/>
			<xs:enumeration value="LowerLevel"/>
			<xs:enumeration value="LowerLevelWithPlatformTopLevel"/>
			<xs:enumeration value="LowerLevelWithUnitTopLevel"/>
		</xs:restriction>
	</xs:simpleType> -->


	<xs:complexType name="IFFDetailsType">
		<xs:annotation>
			<xs:documentation>A data type for a ....</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:Mode1" minOccurs="0"/>
					<xs:element ref="lib:Mode2" minOccurs="0"/>
					<xs:element ref="lib:Mode3" minOccurs="0"/>
					<xs:element ref="lib:Mode4Code" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShipControlNumberIdentifierType">
		<xs:annotation>
			<xs:documentation>A data type for the Ship Control Number (SCONUM) of the track being
				reported. The SCONUM is a unique idenfication code assigned by ONI and listed in the
				STAR and DST-2050G-612 (series). </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:ShipControlNumberIdentifierSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ShipControlNumberIdentifierSimpleType">
		<xs:annotation>
			<xs:documentation> A data type for the Ship Control Number (SCONUM) of the track being
				reported. The SCONUM is a unique idenfication code assigned by ONI and listed in the
				STAR and DST-2050G-612 (series). </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="[A-Z0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MIDBUnitIdType">
		<xs:annotation>
			<xs:documentation>A data type for ....</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:MIDBUnitIdSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="MIDBUnitIdSimpleType">
		<xs:annotation>
			<xs:documentation>A data type for a ....</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}[ABCDEGJMNSX][0-9]{4}[1-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SystemTrackNumberType">
		<xs:annotation>
			<xs:documentation>A data type for ....</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lib:SystemTrackNumberSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="SystemTrackNumberSimpleType">
		<xs:annotation>
			<xs:documentation>A data type for a ....</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-7]{4}"/>
			<xs:pattern value="[0-7A-HJ-Z]{2}[0-7]{3}"/>
		</xs:restriction>
	</xs:simpleType>

	<!--
	<xs:simpleType name="PIN">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2}[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType> -->
	<!-- Alert Category -->
	<!--	<xs:simpleType name="AlertCategory">
		<xs:restriction base="xs:token">
			<xs:enumeration value="TACTICAL"/>
			<xs:enumeration value="OPERATIONAL"/>
			<xs:enumeration value="SYSTEMS"/>
			<xs:enumeration value="SYSTEM_ADMINISTRATION"/>
			<xs:enumeration value="COMMS"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType> -->
	<!-- Alert Classification -->
	<!--	<xs:simpleType name="AlertClassification">
		<xs:restriction base="xs:token">
			<xs:enumeration value="UNCLASSIFIED"/>
			<xs:enumeration value="CONFIDENTIAL"/>
			<xs:enumeration value="SECRET"/>
			<xs:enumeration value="TOP_SECRET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgTextFormatIdLenType">
    <xs:annotation>
      <xs:documentation>
        <definition> The length of MsgTextFormatIdLenType is between 1 and 20</definition>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MsgIdOriginatorLenType">
    <xs:annotation>
      <xs:documentation>
        <definition> The length of MsgIdOriginatorLenType is between 1 and 30</definition>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SecurityClassificationLenType">
    <xs:annotation>
      <xs:documentation>
        <definition> The length of SecurityClassificationLenType is 1</definition>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EnemyMasterKeyLenType">
    <xs:annotation>
      <xs:documentation>
        <definition> The length of EnemyMasterKeyLenType is between 1 and 14</definition>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="14"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ControlMarkLenType">
    <xs:annotation>
      <xs:documentation>
        <definition> The length of ControlMarkLenType is between 1 and 2</definition>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReleaseMarkLenType">
    <xs:annotation>
      <xs:documentation>
        <definition> The length of ReleaseMarkLenType is between 1 and 2</definition>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EntityIdLenType">
    <xs:annotation>
      <xs:documentation>
        <definition> The length of EntityIdLenType is between 1 and 36</definition>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="36"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AllegianceLenType">
    <xs:annotation>
      <xs:documentation>
        <definition> The length of AllegianceLenType is between 1 and 2</definition>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType> -->

	<xs:element name="CommandName" type="lib:OTHTrackNumberCommandNameType">
		<xs:annotation>
			<xs:documentation>A name....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackNumberID" type="lib:OTHTrackNumberTrackNumberIdentifierType">
		<xs:annotation>
			<xs:documentation>An identifier ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NetworkCategoryID" type="lib:IdentifierType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NetworkName" type="lib:NetworkNameType">
		<xs:annotation>
			<xs:documentation>A name ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NetworkID" type="lib:NetworkIdentifierType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NetworkCategoryVerifiedIdentifierCode"
		type="lib:NetworkCategoryVerifiedIdentifierCodeType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NetworkCategoryIdentifierID" type="lib:NetworkCategoryIdentifierType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UID" type="lib:EntityUniqueIdentifierDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UniqueIdentificationText" type="lib:EntityUniqueIdentificationCodeDetailsType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UniqueReferenceText" type="lib:EntityUniqueReferenceCodeDetailsType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OTHTrackNumber" type="lib:EntityOverTheHorizonTrackNumberDetailsType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NetworkIdentifier" type="lib:NetworkIdentifierDetailsType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Relationship" type="lib:RelationshipDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EntityRelationshipVerifiedCode" type="lib:EntityRelationshipVerifiedCodeType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EntityRelationshipFreeFormText" type="lib:EntityRelationshipFreeFormTextType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EntityClassName" type="lib:EntityClassNameType">
		<xs:annotation>
			<xs:documentation>A name ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RemarkText" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RawData" type="lib:RawDataDetailsType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MotionModelCode" type="lib:MotionModelCodeType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Mode1" type="glib:Octal2DigitType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Mode2" type="glib:Octal4DigitType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Mode3" type="glib:Octal4DigitType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Mode4Code" type="lib:LinkMode4IffIdentifierCodeType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OriginatorText" type="lib:OriginatorType">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OriginatorKeyText" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DataCategoryText" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>A ....</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DataText" type="niem-xs:base64Binary">
		<xs:annotation>
			<xs:documentation>A .</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DataAmplification" type="lib:DataAmplificationDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AlertCode" type="lib:AlertCodeType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IFF" type="lib:IFFDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UnitIdentificationCode" type="lib:EntityUniqueIdentificationCodeDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MIDBUnitID" type="lib:MIDBUnitIdType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EntityNumberID" type="lib:EntityNumberIdentifierType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ServiceText" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation> An OS-OTG: The service equivalent to U.S. Forces from Table 5-18.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EchelonText" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation> An OS-OTG: Organization level of a unit from Entry List 98. i.e.
				ARMY, CORPS, DIV, etc. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AdminOrgParentID" type="lib:EntityUniqueIdentifierDetailsType">
		<xs:annotation>
			<xs:documentation> An identifier for an administrative Org Parent </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TaskOrgAffiliation" type="lib:TaskOrgAffiliationDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TaskOrgName" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>A name for ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TaskOrgNumberText" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TaskOrgParentID" type="lib:EntityUniqueIdentifierDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:attribute name="commandText" type="xs:string">
		<xs:annotation>
			<xs:documentation>An attribute for </xs:documentation>
		</xs:annotation>
	</xs:attribute>
</xs:schema>
