tsoa-track/src/main/resources/iep-schema/extension/Track.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  xmlns:tst="http://mcsc.usmc.mil/mc2sa/tsoa/soi/track/2.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nc="http://release.niem.gov/niem/conformanceTargets/3.0/"
  xmlns:nl="http://release.niem.gov/niem/localTerminology/3.0/"
  xmlns:nnc="http://release.niem.gov/niem/niem-core/3.0/"
  xmlns:npx="http://release.niem.gov/niem/proxy/xsd/3.0/"
  xmlns:ns="http://release.niem.gov/niem/structures/3.0/"
  xmlns:ndm="http://release.niem.gov/niem/domains/militaryOperations/3.2/"
  xmlns:ndmr="https://metadata.ces.mil/dse/dse_assets/100135658/SubmissionPackage/niem/militaryOperationsRestricted/3.2/"
  nc:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument"
  targetNamespace="http://mcsc.usmc.mil/mc2sa/tsoa/soi/track/2.0/"
  elementFormDefault="qualified" attributeFormDefault="unqualified" version="1" >
<!--
    xmlns:e="urn:disa:udop.tracks:1.0:event"
    xmlns:trk="https://tsoa.example.mil/tsoa/track"
    xmlns:tsa="http://mcsc.usmc.mil/mc2sa/tsoa/soi/appinfo/1.0"
  
  xmlns:nl="http://release.niem.gov/niem/localTerminology/3.0/"
  xmlns:nc="http://release.niem.gov/niem/conformanceTargets/3.0/"
  xmlns:ns="http://release.niem.gov/niem/structures/3.0/"
  xmlns:ndm="http://release.niem.gov/niem/domains/militaryOperations/3.2/"
  xmlns:nm="https://metadata.ces.mil/dse/dse_assets/100135658/SubmissionPackage/niem/militaryOperationsRestricted/3.2/"
  -->
	<xs:annotation>
		<xs:documentation>A Track augmentation</xs:documentation>
		<xs:appinfo>
			<nl:LocalTerm term="URI" literal="Uniform Resource Identifier"/>
			<nl:LocalTerm term="GUID" literal="Globally Unique Identifier"/>
			<nl:LocalTerm term="IFF" literal="??"/>
			<nl:LocalTerm term="MIDB" literal="Modernized Integrated Database"/>
			<nl:LocalTerm term="BDA" literal="???"/>
			<nl:LocalTerm term="ATO" literal="Air Tasking Order"/>
			<nl:LocalTerm term="DMPI" literal="???"/>
			<nl:LocalTerm term="FOTC" literal="???"/>
		</xs:appinfo>
	</xs:annotation>

  <xs:import namespace="http://release.niem.gov/niem/niem-core/3.0/"
    schemaLocation="../niem/niem-core/3.0/niem-core.xsd"/>
  <xs:import schemaLocation="../niem/localTerminology/3.0/localTerminology.xsd" 
    namespace="http://release.niem.gov/niem/localTerminology/3.0/"/>
  <xs:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"
    schemaLocation="../niem/proxy/xsd/3.0/xs.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/3.0/"
    schemaLocation="../niem/structures/3.0/structures.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/domains/militaryOperations/3.2/"
    schemaLocation="../niem/domains/militaryOperations/3.2/mo.xsd"/>
  <xs:import schemaLocation="../niem/domains/militaryOperationsRestricted/3.2/moms.xsd" 
    namespace="https://metadata.ces.mil/dse/dse_assets/100135658/SubmissionPackage/niem/militaryOperationsRestricted/3.2/"/>
  <xs:import schemaLocation="ObservedMilitaryUnit.xsd" namespace="http://mcsc.usmc.mil/mc2sa/tsoa/soi/observed-military-unit/2.0/"/>
  <xs:import schemaLocation="ObservedPlatformSystem.xsd" namespace="http://mcsc.usmc.mil/mc2sa/tsoa/soi/observed-platform-system/2.0/"/>
<!--  <xs:import namespace="urn:disa:udop.tracks:1.0:unit" schemaLocation="Unit.xsd"/>-->
<!--  <xs:import schemaLocation="Unit.xsd" namespace="http://mcsc.usmc.mil/mc2sa/tsoa/soi/unit/2.0/"/>-->
<!--  <xs:import namespace="https://tsoa.example.mil/tsoa/track" schemaLocation="Track.xsd"/>-->
  <!--<xs:import namespace="urn:disa:udop.tracks:1.0:event" schemaLocation="Event.xsd"/>-->


  <!-- Use imports as needed
	<xs:include schemaLocation="Event.xsd"/>
  <xs:include schemaLocation="Equipment.xsd"/>
  <xs:include schemaLocation="Facility.xsd"/>
  <xs:include schemaLocation="Platform.xsd"/>
  <xs:include schemaLocation="Weapons.xsd"/>
  <xs:include schemaLocation="Space.xsd"/>
  <xs:include schemaLocation="Sigint.xsd"/>
  <xs:include schemaLocation="General.xsd"/>
  <xs:include schemaLocation="EventTrack.xsd"/>
  <xs:include schemaLocation="Individual.xsd"/>
  -->
  
<!--  <xs:simpleType name="AlertCodeSimpleType">
    <xs:annotation>
      <xs:documentation> A data type for the Alert code of the reported track.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:length value="3"/>
      <xs:enumeration value="TGT">
        <xs:annotation>
          <xs:documentation>Target data available</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SUS">
        <xs:annotation>
          <xs:documentation>Suspected carrier</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HIT">
        <xs:annotation>
          <xs:documentation>High Interest track</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NSP">
        <xs:annotation>
          <xs:documentation>Nonsuspected carrier</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="AlertCodeType">
    <xs:annotation>
      <xs:documentation>A data type for the Alert code of the reported
        track.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="AlertCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:element name="AlertCode" type="AlertCodeType">
    <xs:annotation>
      <xs:documentation>An ......</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="UID" type="lib:EntityUniqueIdentifierDetailsType">
    <xs:annotation>
      <xs:documentation>An ......</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="UniqueIdentificationText" type="lib:EntityUniqueIdentificationCodeDetailsType">
    <xs:annotation>
      <xs:documentation>A ....</xs:documentation>
    </xs:annotation>
  </xs:element>-->
  
<!--  <xs:simpleType name="EntityUniqueReferenceCodeDetailsSimpleType">
    <xs:annotation>
      <xs:documentation> A data type for a unique Unit Reference Number (URN).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int"/>
  </xs:simpleType>-->
  
<!--  <xs:complexType name="EntityUniqueReferenceCodeDetailsType">
    <xs:annotation>
      <xs:documentation>A data type for a unique Unit Reference Number (URN).
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="tst:EntityUniqueReferenceCodeDetailsSimpleType">
        <xs:attributeGroup ref="ns:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>-->
  
<!--  <xs:element name="UniqueReferenceText" type="tst:EntityUniqueReferenceCodeDetailsType">
    <xs:annotation>
      <xs:documentation>A ....</xs:documentation>
    </xs:annotation>
  </xs:element>-->
  
<!--  <xs:complexType name="C2TrackDetailsType" abstract="true">
    <xs:annotation>
      <xs:documentation>A data type for a ....</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ndm:TrackType">
        <xs:sequence>
<!-\-          <xs:element ref="AlertCode" minOccurs="0"/>
          <xs:element ref="trk:Flag" minOccurs="0"/>
          <xs:element ref="lib:Relationship" minOccurs="0" maxOccurs="unbounded"/>-\->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>-->
  
  <!-- 
  	<xs:complexType name="TrackAugmentationType">
		<xs:annotation>
			<xs:documentation>A data type for additional information about a
				Track.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:AugmentationType">
				<xs:sequence>
					<xs:element ref="glib:EnvironmentCategoryCode" minOccurs="0"/>
					<xs:element ref="trk:TrackThreat" minOccurs="0"/>
					<xs:element ref="trk:TrackTacticalTrainingCode" minOccurs="0"/>
					<xs:element ref="trk:TrackScope" minOccurs="0"/>
					<xs:element ref="trk:TrackForceCode" minOccurs="0"/>
					<xs:element ref="lib:MotionModelCode" minOccurs="0"/>
					<xs:element ref="nc:BinaryURI" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="trk:AmbiguityReasonText" minOccurs="0"/>
					<xs:element ref="lib:DataAmplification" minOccurs="0"/>
					<xs:element ref="trk:TrackIdentifiers" minOccurs="0"/>
					<xs:element ref="mo:MILSTD2525-C-SIDC-Code" minOccurs="1"/>
					<xs:element ref="trk:TrackRemarksList" minOccurs="0"/>
					<xs:element ref="trk:TrackTargeting" minOccurs="0"/>
					<xs:element ref="trk:TrackCrossReference" minOccurs="0"/>
					<xs:element ref="trk:TrackCurrentEventGUID" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	
	
	
	<xs:complexType name="IdentifiersType">
		<xs:annotation>
			<xs:documentation>A data type .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nc:IdentificationType">
				<xs:sequence>
					<xs:element ref="trk:GUID" minOccurs="0"/>
					<xs:element ref="lib:UID" minOccurs="0"/>
					<xs:element ref="trk:LocalTrackNumber" minOccurs="0"/>
					<xs:element ref="lib:NetworkIdentifier" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="trk:GeneralIdentifierID" minOccurs="0"/>
					<xs:element ref="trk:InternationalRadioCallSign" minOccurs="0"/>
					<xs:element ref="trk:Trademark" minOccurs="0"/>
					<xs:element ref="trk:DiscreteIdentifier" minOccurs="0"/>
					<xs:element ref="lib:UnitIdentificationCode" minOccurs="0"/>
					<xs:element ref="lib:UniqueReferenceText" minOccurs="0"/>
					<xs:element ref="lib:MIDBUnitID" minOccurs="0"/>
					<xs:element ref="lib:IFF" minOccurs="0"/>
					<xs:element ref="lib:EntityClassName" minOccurs="0"/>
					<xs:element ref="lib:EntityNumberID" minOccurs="0"/>
					<xs:element ref="trk:EntityType" minOccurs="0"/>
					<xs:element ref="trk:ShipControlNumber" minOccurs="0"/>
					<xs:element ref="trk:FOTCTrackNumber" minOccurs="0"/>
					<xs:element ref="trk:ReceivedTrackNumbers" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="trk:NickName" minOccurs="0"/>
					<xs:element ref="trk:SystemTrackNumber" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="GeneralIdentifierType">
		<xs:annotation>
			<xs:documentation>A data type for a </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="lib:OriginatorText"/>
					<xs:element ref="lib:OriginatorKeyText"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AmbiguityType">
		<xs:annotation>
			<xs:documentation>A data type for.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="niem-xs:string">
				<xs:attribute ref="trk:isAmbiguityIndicator"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="TargetingType">
		<xs:annotation>
			<xs:documentation>A data type .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="trk:TargetingAttackMissionInProgress" minOccurs="0"/>
					<xs:element ref="trk:TargetingAttackMissionTasked" minOccurs="0"/>
					<xs:element ref="trk:TargetingBDAPhase1ReportAvailable" minOccurs="0"/>
					<xs:element ref="trk:TargetingBDAPhase2ReportAvailable" minOccurs="0"/>
					<xs:element ref="trk:TargetingDMPIAssigned" minOccurs="0"/>
					<xs:element ref="trk:TargetingEngaged" minOccurs="0"/>
					<xs:element ref="trk:TargetingNominationRequested" minOccurs="0"/>
					<xs:element ref="trk:TargetingNominationRequestRejected" minOccurs="0"/>
					<xs:element ref="trk:TargetingOnATO" minOccurs="0"/>
					<xs:element ref="trk:TargetingTimeCritical" minOccurs="0"/>
					<xs:element ref="trk:TargetingValidated" minOccurs="0"/>
					<xs:element ref="trk:TargetingWeaponAssigned" minOccurs="0"/>
					<xs:element ref="trk:TargetingWeaponeered" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:element name="GeneralIdentifierID" type="trk:GeneralIdentifierType">
		<xs:annotation>
			<xs:documentation>An identifier for .... </xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="TrackAugmentation" type="trk:TrackAugmentationType"
		substitutionGroup="mo:TrackAugmentationPoint" nillable="true">
		<xs:annotation>
			<xs:documentation>Additional information about an nc:Aircraft.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackThreat" type="mo:StandardIdentityCodeType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackTacticalTrainingCode" type="lib:EntityTacticalTrainingCodeType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackScope" type="lib:EntityScopeCodeType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackType" type="lib:EntityTrackDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackForceCode" type="glib:Short0to99Type">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AmbiguityReasonText" type="trk:AmbiguityType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackIdentifiers" type="trk:IdentifiersType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackRemarksList" type="lib:GeneralRemarksDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackTargeting" type="trk:TargetingType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackCrossReference" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TrackCurrentEventGUID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Flag" type="lib:EntityFlagCategoryType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="TargetingAttackMissionInProgress" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingAttackMissionTasked" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingBDAPhase1ReportAvailable" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingBDAPhase2ReportAvailable" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingDMPIAssigned" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingEngaged" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingNominationRequested" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingNominationRequestRejected" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingOnATO" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingTimeCritical" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingValidated" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingWeaponAssigned" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TargetingWeaponeered" type="niem-xs:boolean">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GUID" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocalTrackNumber" type="lib:EntityOverTheHorizonTrackNumberDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EntityType" type="lib:EntityCategoryType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ShipControlNumber" type="lib:ShipControlNumberIdentifierType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FOTCTrackNumber" type="lib:EntityOverTheHorizonTrackNumberDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReceivedTrackNumbers" type="lib:EntityOverTheHorizonTrackNumberDetailsType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NickName" type="lib:EntityNickNameType">
		<xs:annotation>
			<xs:documentation>A name for ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SystemTrackNumber" type="lib:SystemTrackNumberType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InternationalRadioCallSign"
		type="lib:InternationalRadioCallSignIdentifierType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Trademark" type="lib:TrademarkIdentifierType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DiscreteIdentifier" type="glib:Octal4DigitType">
		<xs:annotation>
			<xs:documentation>An ......</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:attribute name="isAmbiguityIndicator" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>An attribute ...</xs:documentation>
		</xs:annotation>
	</xs:attribute>
  -->
  
<!--  <xs:complexType name="MILSTD2525Type">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ns:ObjectType">
        <xs:sequence>
          <xs:element ref="ndm:MILSTD2525-B-SIDC-Code" minOccurs="0"/>
          <xs:element ref="ndm:MILSTD2525-C-SIDC-Code" minOccurs="0"/>
          <xs:element ref="ndm:MILSTD2525-D-SIDC" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="MILSTD2525" type="tst:MILSTD2525Type" substitutionGroup="ndm:ObservedObjectSymbolAbstract">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
  </xs:element>-->
  
<!--  <xs:complexType name="ObservedEventType">
    <xs:annotation>
      <xs:documentation> A data type for an observed event.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ns:AugmentationType">
        <xs:sequence>
          <xs:element ref="ndm:Event" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="ObservedEvent" type="tst:ObservedEventType" substitutionGroup="ndm:TrackAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An observed event.</xs:documentation>
    </xs:annotation>
  </xs:element>-->
  
<!--  <xs:complexType name="ObservedMilitaryUnitType">
    <xs:annotation>
      <xs:documentation> A data type for an observed unit.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ns:AugmentationType">
        <xs:sequence>
          <xs:element ref="ndm:Unit" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="ObservedMilitaryUnit" type="tst:ObservedMilitaryUnitType" substitutionGroup="ndm:TrackAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An observed military unit.</xs:documentation>
    </xs:annotation>
  </xs:element>-->
  
  <!--<xs:complexType name="ObservedPlatformSystemType">
    <xs:annotation>
      <xs:documentation> A data type for an observed platform system.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ns:AugmentationType">
        <xs:sequence>
          <xs:element ref="ndm:Unit" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="ObservedPlatformSystem" type="tst:ObservedPlatformSystemType" substitutionGroup="ndm:TrackAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An observed platform system.</xs:documentation>
    </xs:annotation>
  </xs:element>-->
  
<!--  <xs:complexType name="ObservedWeaponSystemType">
    <xs:annotation>
      <xs:documentation> A data type for an observed weapon system.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ns:AugmentationType">
        <xs:sequence>
          <xs:element ref="ndmr:WeaponSystem" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="ObservedWeaponSystem" type="tst:ObservedWeaponSystemType" substitutionGroup="ndm:TrackAugmentationPoint">
    <xs:annotation>
      <xs:documentation>An observed weapon system.</xs:documentation>
    </xs:annotation>
  </xs:element>-->
  
<!--  <xs:complexType name="TrackObserverType">
    <xs:annotation>
      <xs:documentation> A data type for an observer.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ns:AugmentationType">
        <xs:sequence>
          <xs:element ref="ndmr:Observer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>-->

<!--  <xs:complexType name="TrackObservationType">
    <xs:annotation>
      <xs:documentation>A data type for a track observation.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ns:AugmentationType">
        <xs:sequence>
          <xs:element ref="ndm:Observation" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="TrackObservation" type="tst:TrackObservationType"
    substitutionGroup="ndm:TrackAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>A track observation.</xs:documentation>
    </xs:annotation>
  </xs:element>-->

<!--  <xs:element name="TrackObserver" type="tst:TrackObserverType" substitutionGroup="ndm:TrackAugmentationPoint">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
  </xs:element>-->
  
<!--  <xs:element name="TrackShortName" type="nnc:TextType" substitutionGroup="nnc:IdentificationAugmentationPoint">
    <xs:annotation>
      <xs:documentation>A track short-name, nick-name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="TrackIdentification" type="nnc:IdentificationType">
    <xs:annotation>
      <xs:documentation>
        A Track Indentification.
      </xs:documentation>
      <xs:documentation source="TSOA-4.0.2.0.0/entity/connectors/jtcw_gateway_data_connector/src/mc2sa/jtcwgwdataconnector/UnitTrackConverter.java-358">
        SOI JTCW connector had mapped UnitTrack.idl/lURN to SOI-Track-datatype/1.x/Track/Identifiers/UniqueReferenceCode.
        UniqueReferenceCode is an object mappable to this object.
      </xs:documentation>
    </xs:annotation>
  </xs:element>-->

<!--  <xs:complexType name="TrackIdentificationAugmentationType">
    <xs:annotation>
      <xs:documentation> A data type for augmentation.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ns:AugmentationType">
        <xs:sequence>
          <xs:element ref="tst:TrackShortName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="TrackIdentificationAugmentation" type="tst:TrackIdentificationAugmentationType"
    substitutionGroup="nnc:IdentificationAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
  </xs:element>
-->  
</xs:schema>
