tsoa-track/drop-latest-iepd/source/base-xsd/niem/domains/militaryOperations/3.2/mo.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/militaryOperations/3.2/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:nga="http://release.niem.gov/niem/codes/nga_datum/3.0/" xmlns:unece="http://release.niem.gov/niem/codes/unece_rec20/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mo="http://release.niem.gov/niem/domains/militaryOperations/3.2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>MilOps 3.2 - Distribution A</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../codes/nga_datum/3.0/nga_datum.xsd" namespace="http://release.niem.gov/niem/codes/nga_datum/3.0/"/>
  <xs:import schemaLocation="../../../codes/unece_rec20/3.0/unece_rec20-misc.xsd" namespace="http://release.niem.gov/niem/codes/unece_rec20/3.0/"/>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:import schemaLocation="../../../external/ogc/gml/3.2.1/gml.xsd" namespace="http://www.opengis.net/gml/3.2" appinfo:externalImportIndicator="true">
    <xs:annotation>
      <xs:documentation>Geography Markup Language (GML) version 3.2.1 schemas.  See http://www.opengeospatial.org OGC document 07-036 for documentation: "The Geography Markup Language (GML) was originally developed within the Open Geospatial Consortium, Inc. (OGC). ISO 19136 was prepared by ISO/TC 211 jointly with the OGC."  See http://schemas.opengis.net/gml/ for schemas.</xs:documentation>
    </xs:annotation>
  </xs:import>
  <xs:complexType name="CourseAngleDegreesMeasureType">
    <xs:annotation>
      <xs:documentation>A data type for an angle measured in degrees used to identify the intended direction of movement in the horizontal plane.  The value of the angle is positive in a clockwise direction as viewed from "above" the horizontal plane.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="mo:AngleDegreesMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mo:DirectionDatumAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mo:CourseAngleDegreesMeasureAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Degree360Type">
    <xs:annotation>
      <xs:documentation>A data type for an angle measured in degrees between 0 and 360.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:Degree360Type">
        <xs:attribute ref="mo:sigmaErrorValue" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EventType">
    <xs:annotation>
      <xs:documentation>A data type for the existence of a process or object at a location during a time interval.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="mo:EventLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mo:EventIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mo:EventValidityDateTimeRange" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mo:EventMotion" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mo:EventAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MILSTD2525-C-SIDC-SimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a symbol identification code, an alphanumeric code based on a database structure that provides the minimum elements required to construct the basic icon and/or a complete symbol. Also called SIDC.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Z0-9\-]{15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MILSTD2525-C-SIDC-Type">
    <xs:annotation>
      <xs:documentation>A data type for a symbol identification code, an alphanumeric code based on a database structure that provides the minimum elements required to construct the basic icon and/or a complete symbol. Also called SIDC.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="mo:MILSTD2525-C-SIDC-SimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MissionType">
    <xs:annotation>
      <xs:documentation>A data type for a task, together with the purpose, that clearly indicates the action to be taken and the reason therefore.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="mo:MissionName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MotionType">
    <xs:annotation>
      <xs:documentation>A data type for a 2D or 3D vector describing the motion of a process or object.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="mo:CourseAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mo:SpeedValue" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SensorType">
    <xs:annotation>
      <xs:documentation>A data type for a device which detects or measures a physical property.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ItemType">
        <xs:sequence>
          <xs:element ref="mo:SensorIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SpeedValueType">
    <xs:annotation>
      <xs:documentation>A data type for a speed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:NonNegativeDecimalSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
        <xs:attribute ref="mo:speedUnitCode" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="StandardIdentityCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a code describing the standard identity of a track; codes defined by MIL-STD-2525C.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="ASSUMED FRIEND">
        <xs:annotation>
          <xs:documentation>A track which is assumed to be a friend because of its characteristics, behavior, or origin.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FAKER">
        <xs:annotation>
          <xs:documentation>A friendly track acting as a HOSTILE for exercise purposes.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FRIEND">
        <xs:annotation>
          <xs:documentation>A track belonging to a declared, presumed or recognized friendly nation,  faction or group.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HOSTILE">
        <xs:annotation>
          <xs:documentation>A track declared to belong to any opposing nation, party, group, or entity, which by virtue of its behavior or information collected on it such as characteristics, origin or nationality contributes to the threat to friendly forces.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="JOKER">
        <xs:annotation>
          <xs:documentation>A friendly track as a SUSPECT for exercise purposes.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NEUTRAL">
        <xs:annotation>
          <xs:documentation>A track or contact whose characteristics, behaviour, origin or nationality indicate that it is neither supporting nor opposing friendly forces.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SUSPECT">
        <xs:annotation>
          <xs:documentation>An identity applied to a track that is potentially hostile because of its characteristics, behaviour, origin or nationality.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UNKNOWN">
        <xs:annotation>
          <xs:documentation>An identity applied to an evaluated track that has not been identified.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StandardIdentityCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a code describing the standard identity of a track; codes defined by MIL-STD-2525C.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="mo:StandardIdentityCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TrackType">
    <xs:annotation>
      <xs:documentation>A data type for a series of related contacts displayed on a data display console or other display device.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="mo:TrackIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mo:TrackAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="UnitNameSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a character string assigned to represent a unit name.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="100"/>
      <xs:minLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="UnitNameType">
    <xs:annotation>
      <xs:documentation>A data type for a character string assigned to represent a unit name.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="mo:UnitNameSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="UnitShortNameSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a short name used to create derived names and for display with military symbols.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10">
        <xs:annotation>
          <xs:documentation>maximum length of 10</xs:documentation>
        </xs:annotation>
      </xs:maxLength>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="UnitShortNameType">
    <xs:annotation>
      <xs:documentation>A data type for a short name used to create derived names and for display with military symbols.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="mo:UnitShortNameSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="UnitType">
    <xs:annotation>
      <xs:documentation>A data type for a military element whose structure is prescribed by competent authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="mo:UnitName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mo:UnitShortName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mo:UnitTypeCodeText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mo:UnitAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="UnitTypeCodeTextSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a Joint Chiefs of Staff developed and assigned code, consisting of five characters that uniquely identify a "type unit." Also called UTC.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="UnitTypeCodeTextType">
    <xs:annotation>
      <xs:documentation>A data type for a Joint Chiefs of Staff developed and assigned code, consisting of five characters that uniquely identify a "type unit." Also called UTC.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="mo:UnitTypeCodeTextSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="WGS84LocationCylinderType">
    <xs:annotation>
      <xs:documentation>A data type for a cylinder described with WGS84 coordinates and meters.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="mo:WGS84LocationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WGS84LocationPointType" appinfo:externalAdapterTypeIndicator="true">
    <xs:annotation>
      <xs:documentation>A data type for a 3D geometric point, defined by a single coordinate tuple with values from the WGS84 coordinate reference system.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="gml:Point" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A gml:Point is defined by a single coordinate tuple. The direct position of a point is specified by the gml:pos element which is of type gml:DirectPositionType.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:attribute name="sigmaErrorValue" type="xs:decimal">
    <xs:annotation>
      <xs:documentation>A magnitude of a one-sigma deviation of a normal (Gaussian) distribution followed by the true value of the quantity.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="speedUnitCode" type="unece:VelocityCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A unit of measurement for a speed or velocity.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:element name="AngleDegreesMeasure" type="nc:AngularMeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>An angle in two dimensions measured in degrees (the angle between two half-lines terminating at the same point).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AngularMeasureDecimalValue" type="niem-xs:decimal" substitutionGroup="mo:CourseAngleDegreesMeasureAugmentationPoint">
    <xs:annotation>
      <xs:documentation>A decimal value for a measurement of an angle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourseAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for the intended direction of movement in the horizontal plane.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourseAngleDegreesMeasure" type="mo:CourseAngleDegreesMeasureType" substitutionGroup="mo:CourseAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>An angular distance measured in degrees of a direction from a chosen reference direction.  The measured and reference directions are located in the horizontal plane, and the value of the angle is positive in a clockwise direction as viewed from "above" the horizontal plane.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourseAngleDegreesMeasureAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type mo:CourseAngleDegreesMeasure</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourseAngleMeasure" type="nc:AngularMeasureType" substitutionGroup="mo:CourseAbstract">
    <xs:annotation>
      <xs:documentation>An angular distance of a direction from a chosen reference direction.  The measured and reference directions are located in the horizontal plane, and the value of the angle is positive in a clockwise direction as viewed from "above" the horizontal plane.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourseCode" type="nc:DirectionCodeType" substitutionGroup="mo:CourseAbstract">
    <xs:annotation>
      <xs:documentation>A designator for the 16 generalized directions (for example: southeast) based on the compass rose.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourseValue" type="mo:Degree360Type" substitutionGroup="mo:CourseAbstract">
    <xs:annotation>
      <xs:documentation>A direction of horizontal motion with respect to true north, measured in degrees.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DirectionDatumAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a reference direction as determined by the means by which it is established (e.g., by the direction of a geographic or magnetic pole of the Earth).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DirectionDatumCode" type="nga:DirectionDatumCodeType" substitutionGroup="mo:DirectionDatumAbstract">
    <xs:annotation>
      <xs:documentation>A designator for a reference direction as determined by the means by which it is established (e.g., by the direction of a geographic or magnetic pole of the Earth).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Event" type="mo:EventType">
    <xs:annotation>
      <xs:documentation>An existance of a process or object at a location during a time interval.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EventAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type mo:EventType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EventIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of an event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EventLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A location of a process or object.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EventMotion" type="mo:MotionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A 2D or 3D vector describing the motion of a process or object.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EventValidityDateTimeRange" type="nc:DateRangeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A start and stop time of the Event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MILSTD2525-C-SIDC-Code" type="mo:MILSTD2525-C-SIDC-Type" nillable="true">
    <xs:annotation>
      <xs:documentation>A symbol identification code, an alphanumeric code based on a database structure that provides the minimum elements required to construct the basic icon and/or a complete symbol. Also called SIDC.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Mission" type="mo:MissionType">
    <xs:annotation>
      <xs:documentation>A task, together with the purpose, that clearly indicates the action to be taken and the reason therefore.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissionName" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a mission.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sensor" type="mo:SensorType">
    <xs:annotation>
      <xs:documentation>A device which detects or measures a physical property.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SensorIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a sensor.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpeedValue" type="mo:SpeedValueType">
    <xs:annotation>
      <xs:documentation>A magnitude of motion (rate of change of position) of an object.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Track" type="mo:TrackType">
    <xs:annotation>
      <xs:documentation>A series of related contacts displayed on a data display console or other display device.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TrackAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type mo:TrackType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TrackIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a track.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Unit" type="mo:UnitType">
    <xs:annotation>
      <xs:documentation>A military element whose structure is prescribed by competent authority.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UnitAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for type mo:UnitType</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UnitName" type="mo:UnitNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A character string assigned to represent a unit name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UnitShortName" type="mo:UnitShortNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name used to create derived names and for display with military symbols.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UnitTypeCodeText" type="mo:UnitTypeCodeTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Joint Chiefs of Staff developed and assigned code, consisting of five characters that uniquely identify a "type unit."</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WGS84LocationCylinder" type="mo:WGS84LocationCylinderType" substitutionGroup="nc:LocationGeospatialCoordinate" nillable="true">
    <xs:annotation>
      <xs:documentation>A location identified by a cylinder oriented vertically and centered on a point described with WGS84  coordinates. If it is appropriate for the radius and half-height properties to represent an error value  (for example, because the event is a laser-designated target), then the true event location follows a normal distribution such that the cylinder defines the one-sigma (p&#x2248;0.67) deviation.  (A cylinder with  twice the volume would be the two-sigma (p&#x2248;0.95) deviation, etc.)  Otherwise the cylinder encloses the  full physical extent of the event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WGS84LocationPoint" type="mo:WGS84LocationPointType" nillable="true">
    <xs:annotation>
      <xs:documentation>A data type for a 3D geometric point, defined by a single coordinate tuple with values from the WGS84 coordinate reference system.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
